<div class="text-center my-3">
    <h2>Account Details</h2>
</div>
<div>
    title
    firstName
    middleName
    lastName
    <hr>
    mobileNumber
    email
    aadharCardNumber
    panCardNumber
    dateOfBirth
    <hr>
    occupationType
    incomeSource
    grossAnnualIncome
    <hr>
    <div class="row mt-5">
        <div class="col-md-6">
            <a href="/admin-dashboard" class="btn btn-primary">Back</a>
        </div>
        <div class="col-md-6">
            <button class="btn btn-success float-end">Approve</button>
            <button class="btn btn-danger float-end mx-3">Reject</button> &nbsp;&nbsp;
        </div>
    </div>
</div>
