<div class="row text-center mt-5">
    <div class="col-md-8">
        <!-- Slogan/Info -->
        <div class="jumbotron bg-light py-2 border rounded-2">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
              <a class="btn btn-primary" routerLink="/login" role="button">Proceed to Login</a>
            </p>
          </div>
    </div>
    <div class="col-md-4">
        <!-- options -->
        <div class="list-group">
            <a class="list-group-item list-group-item-action active" aria-current="true">
                <i class="fa fa-arrow-down" aria-hidden="true"></i> Open New Account / Internet Banking
            </a>
            <a routerLink='/admin-login' class="list-group-item list-group-item-action">Admin Login</a>
            <a routerLink="/register-account" class="list-group-item list-group-item-action">Open new Account</a>
            <a routerLink="/register-ib" class="list-group-item list-group-item-action">Apply for Internet Banking</a>
          </div> 
    </div>
</div>
